# common
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_DEFAULT_REGION=ap-northeast-2

OHRA_DB_URL=sqlite+aiosqlite:///./projects/ohra-backend/data/database.db
OHRA_SAGEMAKER_LLM_ENDPOINT=qwen3-4b-instruct-2507-vllm-endpoint-1
OHRA_SAGEMAKER_EMBEDDING_ENDPOINT=qwen3-embedding-0-6b-endpoint
OHRA_SAGEMAKER_EMBEDDING_DIMENSION=1024
OHRA_SAGEMAKER_REGION=ap-northeast-2
OHRA_QDRANT_HOST=localhost
OHRA_QDRANT_PORT=6333
OHRA_QDRANT_COLLECTION_NAME=ohra_documents

# backend
OHRA_ADMIN_EMAIL=admin@ohra.local
OHRA_ADMIN_NAME=Admin
OHRA_ADMIN_EXTERNAL_ID=

# worker
OHRA_ATLASSIAN_EMAIL=your-email@example.com
OHRA_ATLASSIAN_BASE_URL=https://your-domain.atlassian.net
OHRA_ATLASSIAN_TOKEN=your_atlassian_api_token

OHRA_WORKER_SYNC_INTERVAL_HOURS=1
OHRA_WORKER_EMBEDDING_BATCH_SIZE=5

# webui
WEBUI_PORT=3000
OPEN_API_BASE_URL=http://host.docker.internal:8000/v1
WEBUI_ENABLE_SIGNUP=true
WEBUI_DEFAULT_USER_ROLE=user
WEBUI_SECRET_KEY=your-secret-key-change-me
OPENAI_API_KEY=sk-placeholder